{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-content">
        <div class="profile-avatar">
            <img src="{{#if user.avatar_url}}
                            {{user.avatar_url}}
                        {{else}}
                            /avatar/{{user.username}}.png
                        {{/if}}" 
                        alt="User Avatar" 
                        class="profile-avatar-img">
        </div>
        
        <section class="profile-info">
            <!-- user profile info -->
            <h2>User Profile</h2>
            <p><strong>Username:</strong> {{user.username}}</h2>
            <p><strong>Member since:</strong> {{user.memberSince}}</p>
        </section>
    </div>
    
    <section class="upload-photo-form">
        <!-- upload photo -->
        <form action="/uploadProfileImage" method="POST" enctype="multipart/form-data">
            <input type="file" id="profileImage" name="profileImage" accept="image/*" class="input-photo-file" required/>
            <button type="submit">Update photo</button>
        </form>
    </section>
</div>

<section class="user-posts">
    <h2>Your {{{postNeoType}}}s</h2>

    <form class="sort-form">
        <label for="sort">Sort By:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="newest" {{#if (equal sortMethod "newest")}}selected{{/if}}>Newest</option>
            <option value="oldest" {{#if (equal sortMethod "oldest")}}selected{{/if}}>Oldest</option>
            <option value="most-likes" {{#if (equal sortMethod "most-likes")}}selected{{/if}}>Most Likes</option>
                <option value="least-likes" {{#if (equal sortMethod "least-likes")}}selected{{/if}}>Least Likes</option>
        </select>
    </form>
    
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                {{> post this user=../user loggedIn=../loggedIn}}   
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <p>You haven't {{{toLowerCase postNeoType}}}ed yet, {{user.username}}.</p>
        <p>Start {{{toLowerCase postNeoType}}}ing!</p>
    {{/if}}
</section>

<script>
    // Change sort method
    document.getElementById('sort').value = '{{sortMethod}}';
</script>